{
  "extends": ["next/core-web-vitals", "plugin:tailwind/recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "react/no-unescaped-entities": 0
  }
}
