@tailwind base;
@tailwind components;
@tailwind utilities;

.demo-modal {
  min-height: 556px;
  min-width: 360px;
}

@media only screen and (min-width: 420px) {
  .demo-modal {
    width: 420px;
  }
}
